<% @messages.each do |message| %>
  <div class="message">
    <small>Message by: <%= message.author %></small>
    <p><a href="<%= message.url %>"><%= message.url %></a></p>
    <p>
      <%= message.content %>
    </p>
  </div>
<% end %>

<a href="/messages/new">Post a message... It's FREE (for now)!</a>